.reveal .list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reveal .list-unstyled li {
  margin: 0;
  padding: 0;
}

.reveal .tiny-text {
  font-size: 0.8em;
}

.reveal pre code {
  max-height: fit-content;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Gudea", "Source Sans Pro", Helvetica, sans-serif;
}

.twocol {
  display: flex;
}

.twocol > * {
  flex: 1;
}

.reveal {
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(45deg, #E08888 50%, #fafafa 50%);
}

.img-grid {
  width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 500px);
}

.img-grid img {
  margin-top: 0 !important;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}